streamlit==1.38.0
pandas==2.2.2
numpy==1.26.4
plotly==5.22.0
opencv-python-headless==4.10.0.84
ultralytics==8.2.48
Pillow==10.4.0
python-telegram-bot==20.7
darts==0.30.0
torch==2.3.1
torchvision==0.18.1
